//begin footer
+b.FOOTER.footer
  +e.container.container
    +e.row
      +e.col
        +b.A.logo.footer__logo(href='home.html')
          svg(class='logo__icon' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='24', viewbox='0 0 26 24')
            defs
              path#u4pba(d='M391 115V91h11v6h-6v12h6v6zm8-16h4v2h-2v4h2v2h-4zm4 3h2v2h-2zm2-3h4v8h-4v-2h2v-4h-2zm1-8h11v24h-11v-6h6V97h-6z')
            g
              g(transform='translate(-391 -91)')
                use(fill='#0094f8', xlink:href='#u4pba')

          +e.P UNDERcovermarket
          +e.SPAN .com
        +e.article
          +e.P Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например
        +b.A.arrow-link(href='#!')
          span Читать далее
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='10', height='7', viewbox='0 0 10 7')
            defs
              path#hrmia(d='M505.72 1614.1a.35.35 0 0 0-.5.5l2.55 2.54h-8.41c-.2 0-.36.15-.36.35 0 .2.16.35.36.35h8.41l-2.55 2.53a.36.36 0 0 0 0 .5c.14.14.36.14.5 0l3.16-3.13a.35.35 0 0 0 0-.5z')
            g
              g(transform='translate(-499 -1614)')
                use(fill='#00a8f8', xlink:href='#hrmia')

      +e.col
        +e.H4.title.title-xs Полезные ссылки
        +e.UL.list
          li: a(href='#!') О комепании
          li: a(href='#!') Контакты
          li: a(href='#!') Частные инвесторы
          li: a(href='#!') Календарь дивидендов
          li: a(href='#!') Контрольный список финвестиций
          li: a(href='#!') График S & P500 EPS

      +e.col
        +e.H4.title.title-xs Наши контакты
        +e.P Armiston Investments, Tornimae 7 Floor 12 Tallinn, Estonia, 10145

        +b.subscr.footer__subscr
          +e.FORM(action='#!' method='POST')
            +e.title.title-xs Подписаться
            +e.field
              +e.INPUT.input.input(type='email' placeholder='E-mail...' name='' required)
              +e.BUTTON.submit.btn._blue(type='submit') Отправить

  +e.bottom
    +e.bottom-container.container
      +e.copyright © 2018 www.undercovermarket.com

      +b.lang.footer__lang
        +e.UL.list.js-lang-list
          +e.LI.item
            +e.A.link(href='#!')
              svg(class='icon flag_est' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24', height='18', viewbox='0 0 24 18')
                defs
                  path#4cuaa(d='M1488 46V36h24v10z')
                  path#4cuac(d='M1488 34v-6h24v6z')
                  path#4cuad(d='M1488 40v-6h24v6z')
                  clippath#4cuab
                    use(fill='#fff', xlink:href='#4cuaa')
                g
                  g(transform='translate(-1488 -28)')
                    g
                      use(fill='#eee', xlink:href='#4cuaa')
                      use(fill='#fff', fill-opacity='0', stroke='#dedede', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='50', stroke-width='2', clip-path='url("#4cuab")', xlink:href='#4cuaa')
                    g
                      use(fill='#3282c5', xlink:href='#4cuac')
                    g
                      use(fill='#1e0f00', xlink:href='#4cuad')

            +e.UL.list-items
              +e.LI
                +e.A(href='#ru')
                  +e.list-icon
                    svg(class='flag_ru' xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='900', height='600')
                      rect(fill='#fff', width='9', height='3')
                      rect(fill='#d52b1e', y='3', width='9', height='3')
                      rect(fill='#0039a6', y='2', width='9', height='2')
                  +e.SPAN.list-text Русский

              +e.LI
                +e.A(href='#es')
                  +e.list-icon
                    +e.IMG(src='https://lipis.github.io/flag-icon-css/flags/4x3/es.svg' alt='image')
                  +e.SPAN.list-text Español

              +e.LI
                +e.A(href='#es')
                  +e.list-icon
                    +e.IMG(src='https://lipis.github.io/flag-icon-css/flags/4x3/fi.svg' alt='image')
                  +e.SPAN.list-text Suomi

              +e.LI
                +e.A(href='#es')
                  +e.list-icon
                    +e.IMG(src='https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg' alt='image')
                  +e.SPAN.list-text English
