if chart ? chart : chart = []

//begin chart
+b.chart(class= chart.classMod ? chart.classMod : '')
	+e.inner
		+e.slider.js-chart
			+e.slider-item
				+e.IMG(src='static/img/content/chart.jpg' alt='image')
			+e.slider-item
				+e.IMG(src='static/img/content/chart.jpg' alt='image')
			+e.slider-item
				+e.IMG(src='static/img/content/chart.jpg' alt='image')
		+e.nav.js-chart-nav(style='background-image: url(static/img/bg/chart_bg.jpg)')
			+e.nav-item
				p Оценочный метод выбора актива применяется согласно оригинальной авторской методике, вдохновленной Питером Линчем.
			+e.nav-item
				p Мы делаем список активов и точки входа
			+e.nav-item
				p Мы предлагаем Вам список акций, точки входа и выхода, транслируемые в режиме реального времени.