//begin info
+b.SECTION.info
	+e.container.container
		+e.col
			+e.H2.title Система использует авторскую методику
				span отслеживания
			+e.P.descr Мы предлагаем Вам список акций, точки входа и выхода, транслируемые в режиме реального времени. Вы сами покупаете и продаете их на своем брокерском или банковском счете. Эти акции отбираются по авторской методике, мы сами используем эти сигналы, вкладываем свой капитал в акции из этого списка".

			+e.A.access-btn.btn._blue(href='#!') Получить доступ

		+e.col
			+e.text
				+e.P Система использует авторскую методику отслеживания недооцененных активов, базируясь на принципах человеческой иррациональности, описанных Dan Ariely, и принципах парадокса Maurice Allais , нобелевского лауреата по экономике.
			+e.text
				+e.P Оценочный метод выбора актива применяется согласно оригинальной авторской методике, вдохновленной Питером Линчем и др . Система использует авторскую методику отслеживания недооцененных активов, базируясь на принципах человеческой иррациональ- ности, описанных Dan Ariely.

		+e.IMG.bg-bar._l(src='static/img/bg/bar_img.svg' alt='image')

		+e.IMG.bg-bar._r(src='static/img/bg/bar_img.svg' alt='image')

		+e.IMG.dot-bg._1(src='static/img/bg/info-dot.svg' alt='image')

		+e.IMG.dot-bg._2(src='static/img/bg/info-dot.svg' alt='image')

		+e.IMG.dot-bg._3(src='static/img/bg/info-dot.svg' alt='image')