if result ? result : result = []

//begin result
+b.SECTION.result(class= result.classMod ? result.classMod : '')
	+e.container.container
		+e.item._1
			+e.title Portfolio total
				br
				| value
			+e.value
				+e.value-circle
				+e.SPAN.value-text $768.87B

		+e.item._2
			+e.title Total value
				br
				| of target group
			+e.value
				+e.value-circle
				+e.SPAN.value-text $8508.83 Pt.
			+e.value
				+e.value-circle
				+e.value-block
					+e.value-label Items:
					+e.SPAN.value-text 79

		+e.item._3
			+e.title Annual reports
			+e.value._triple
				+e.value-circle
				+e.value-items
					+e.value-block
						+e.value-label Today:
						+e.SPAN.value-text 0
					+e.value-block
						+e.value-label Yesterday:
						+e.SPAN.value-text 0
					+e.value-block
						+e.value-label Tomorrow:
						+e.SPAN.value-text 29

		+e.item._4
			+e.title Corporate reports
			+e.value._triple
				+e.value-circle
				+e.value-items
					+e.value-block
						+e.value-label Today:
						+e.SPAN.value-text 1
					+e.value-block
						+e.value-label Yesterday:
						+e.SPAN.value-text 0
					+e.value-block
						+e.value-label Tomorrow:
						+e.SPAN.value-text 137

		+e.item._5
			+e.title Institutional reports
			+e.value._triple
				+e.value-circle
				+e.value-items
					+e.value-block
						+e.value-label Today:
						+e.SPAN.value-text 1
					+e.value-block
						+e.value-label Yesterday:
						+e.SPAN.value-text 0
					+e.value-block
						+e.value-label Tomorrow:
						+e.SPAN.value-text 541

		+e.item._6
			+e.title Stocks levels
				br
				| processed
			+e.value
				+e.value-circle
				+e.SPAN.value-text 4056

		+e.item._7
			+e.title Active users
			+e.value
				+e.value-circle
				+e.SPAN.value-text 133