+b.BUTTON.support-btn(type='button')
	+e.dots
		+e.dots-circle
		+e.dots-circle
		+e.dots-circle
	+e.SVG(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='45', height='45', viewbox='0 0 45 45')
		defs
			path#qfeqa(d='M1841.3 1342.2l2.04 6.14-6.14-2.05a15.58 15.58 0 1 1 4.1-4.1zm-29.96-16a18.43 18.43 0 0 0-1.43 8.24 15.52 15.52 0 0 1-4.11-2l-6.14 2.05 2.05-6.14a15.58 15.58 0 1 1 27.73-13.45l-1.02-.02a18.43 18.43 0 0 0-13.11 5.43 18.48 18.48 0 0 0-3.97 5.9z')
		g
			g(transform='translate(-1799 -1304)')
				use(fill='#0094f8', xlink:href='#qfeqa')