if tezis ? tezis : tezis = []
if tezis.title ? tezis.title : tezis.title = ''

//begin tezis
+b.SECTION.tezis(class= tezis.classMod ? tezis.classMod : '')
	+e.container.container
		+e.row
			+e.item._right
				+e.item-text
					+e.P Предлагаем уникальный синтетический индекс активов с максимальным потенциалом роста
				+e.item-icon
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='23', height='22', viewbox='0 0 23 22')
						defs
							path#lyqna(d='M1489.36 1655.32a2.7 2.7 0 0 1-2.68 2.68 2.7 2.7 0 0 1-2.68-2.68 2.7 2.7 0 0 1 3.14-2.63l2.75-5.4a2.04 2.04 0 0 1 1.42-3.5c1.12 0 2.05.92 2.05 2.04 0 .46-.16.89-.42 1.23l3.5 4.53a2.02 2.02 0 0 1 .31-.01l1.33-5.44a2.05 2.05 0 0 1-1.02-1.77 2.06 2.06 0 0 1 3-1.8l3.25-3.32c-.25-.34-.4-.76-.4-1.2 0-1.13.92-2.05 2.04-2.05s2.05.92 2.05 2.04a2.06 2.06 0 0 1-2.94 1.84l-3.28 3.33c.24.33.37.73.37 1.16a2.06 2.06 0 0 1-2.13 2.04l-1.33 5.44a2.05 2.05 0 0 1 1.03 1.77c0 1.12-.93 2.04-2.05 2.04a2.06 2.06 0 0 1-2.05-2.04c0-.69.35-1.3.88-1.67l-3.32-4.27a2.02 2.02 0 0 1-1.45.11l-2.67 5.25a2.7 2.7 0 0 1 1.3 2.28zm-.97 0c0-.92-.78-1.7-1.71-1.7-.93 0-1.7.78-1.7 1.7 0 .93.77 1.7 1.7 1.7.93 0 1.7-.77 1.7-1.7zm4-9.49c0-.58-.5-1.07-1.08-1.07-.59 0-1.07.49-1.07 1.07 0 .59.48 1.07 1.07 1.07.58 0 1.07-.48 1.07-1.07zm5.35 7.79c0-.58-.49-1.07-1.07-1.07-.59 0-1.07.49-1.07 1.07 0 .58.48 1.07 1.07 1.07.58 0 1.07-.49 1.07-1.07zm2.44-9.25c0-.58-.49-1.07-1.07-1.07-.59 0-1.08.49-1.08 1.07 0 .59.5 1.07 1.08 1.07.58 0 1.07-.48 1.07-1.07zm5.85-6.33c0-.58-.5-1.07-1.08-1.07-.58 0-1.07.49-1.07 1.07 0 .59.49 1.08 1.07 1.08.59 0 1.08-.5 1.08-1.08z')
						g
							g(opacity='.94', transform='translate(-1484 -1636)')
								use(xlink:href='#lyqna')


		+e.row
			+e.item._center
				+e.item-text
					+e.P Доступ к источнику данных для подключения торговых роботов с предоставлением сигналов на вход в сделку и точек фиксации прибыли
				+e.item-icon
					svg(class='icon-data' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='22', viewbox='0 0 22 22')
						defs
							path#42nna(d='M1219.5 1778.92c0 .92-.74 1.67-1.65 1.67-.91 0-1.65-.75-1.65-1.67 0-.93.74-1.68 1.65-1.68.91 0 1.65.75 1.65 1.68zm-.73 0a.93.93 0 0 0-.92-.94c-.5 0-.92.42-.92.94 0 .51.41.93.92.93.5 0 .92-.42.92-.93zm13.56-.94c.2 0 .37.17.37.38 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.21.16-.38.36-.38zm-1.46 0c.2 0 .36.17.36.38 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.21.16-.38.37-.38zm2.2 1.12c.2 0 .36.17.36.37 0 .21-.16.38-.36.38a.37.37 0 0 1-.37-.38c0-.2.16-.37.37-.37zm-1.47 0c.2 0 .37.17.37.37 0 .21-.17.38-.37.38a.37.37 0 0 1-.37-.38c0-.2.17-.37.37-.37zm-2.2-1.12c.2 0 .37.17.37.38 0 .2-.17.37-.37.37a.37.37 0 0 1-.37-.37c0-.21.17-.38.37-.38zm.73 1.12c.2 0 .37.17.37.37 0 .21-.16.38-.37.38a.37.37 0 0 1-.36-.38c0-.2.16-.37.36-.37zm-2.2-1.12c.2 0 .37.17.37.38 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.21.16-.38.36-.38zm.74 1.12c.2 0 .36.17.36.37 0 .21-.16.38-.36.38a.37.37 0 0 1-.37-.38c0-.2.16-.37.37-.37zm-2.2-1.12c.2 0 .36.17.36.38 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.21.16-.38.37-.38zm.73 1.12c.2 0 .37.17.37.37 0 .21-.17.38-.37.38a.37.37 0 0 1-.37-.38c0-.2.17-.37.37-.37zm8.15 3.36c.4.31.65.8.65 1.34v4.4c0 .54-.26 1.03-.65 1.34.4.32.65.8.65 1.35v4.4a1.7 1.7 0 0 1-1.69 1.71h-18.62a1.7 1.7 0 0 1-1.69-1.72v-4.4c0-.54.26-1.02.65-1.34-.4-.31-.65-.8-.65-1.34v-4.4c0-.54.26-1.03.65-1.34-.4-.32-.65-.8-.65-1.35v-4.4c0-.94.76-1.71 1.69-1.71h18.62c.93 0 1.69.77 1.69 1.72v4.4c0 .54-.26 1.02-.65 1.34zm-1.04 7.46h-18.62a.97.97 0 0 0-.96.97v4.4c0 .53.43.96.96.96h18.62c.53 0 .96-.43.96-.97v-4.4a.97.97 0 0 0-.96-.96zm0-7.09h-18.62a.97.97 0 0 0-.96.97v4.4c0 .53.43.97.96.97h18.62c.53 0 .96-.44.96-.97v-4.4a.97.97 0 0 0-.96-.97zm-18.62-.75h18.62c.53 0 .96-.43.96-.97v-4.4a.97.97 0 0 0-.96-.96h-18.62a.97.97 0 0 0-.96.97v4.4c0 .53.43.96.96.96zm.51 3.92c0-.93.74-1.68 1.65-1.68.91 0 1.65.75 1.65 1.68 0 .93-.74 1.68-1.65 1.68-.91 0-1.65-.75-1.65-1.68zm.73 0c0 .51.41.93.92.93.5 0 .92-.42.92-.93a.93.93 0 0 0-.92-.93c-.5 0-.92.42-.92.93zm15.4-.93c.2 0 .37.16.37.37 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.2.16-.37.36-.37zm-1.46 0c.2 0 .36.16.36.37 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.2.16-.37.37-.37zm2.2 1.12c.2 0 .36.16.36.37 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.2.16-.37.37-.37zm-1.47 0c.2 0 .37.16.37.37 0 .2-.17.37-.37.37a.37.37 0 0 1-.37-.37c0-.2.17-.37.37-.37zm-2.2-1.12c.2 0 .37.16.37.37 0 .2-.17.37-.37.37a.37.37 0 0 1-.37-.37c0-.2.17-.37.37-.37zm.73 1.12c.2 0 .37.16.37.37 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.2.16-.37.36-.37zm-2.2-1.12c.2 0 .37.16.37.37 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.2.16-.37.36-.37zm.74 1.12c.2 0 .36.16.36.37 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.2.16-.37.37-.37zm-2.2-1.12c.2 0 .36.16.36.37 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.2.16-.37.37-.37zm.73 1.12c.2 0 .37.16.37.37 0 .2-.17.37-.37.37a.37.37 0 0 1-.37-.37c0-.2.17-.37.37-.37zm-11 6.9c0-.93.74-1.68 1.65-1.68.91 0 1.65.75 1.65 1.67 0 .93-.74 1.68-1.65 1.68-.91 0-1.65-.75-1.65-1.68zm.73 0c0 .5.41.93.92.93.5 0 .92-.42.92-.94a.93.93 0 0 0-.92-.93c-.5 0-.92.42-.92.93zm15.4-.94c.2 0 .37.17.37.38 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.21.16-.38.36-.38zm-1.46 0c.2 0 .36.17.36.38 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.21.16-.38.37-.38zm2.2 1.12c.2 0 .36.17.36.37 0 .21-.16.38-.36.38a.37.37 0 0 1-.37-.38c0-.2.16-.37.37-.37zm-1.47 0c.2 0 .37.17.37.37 0 .21-.17.38-.37.38a.37.37 0 0 1-.37-.38c0-.2.17-.37.37-.37zm-2.2-1.12c.2 0 .37.17.37.38 0 .2-.17.37-.37.37a.37.37 0 0 1-.37-.37c0-.21.17-.38.37-.38zm.73 1.12c.2 0 .37.17.37.37 0 .21-.16.38-.37.38a.37.37 0 0 1-.36-.38c0-.2.16-.37.36-.37zm-2.2-1.12c.2 0 .37.17.37.38 0 .2-.16.37-.37.37a.37.37 0 0 1-.36-.37c0-.21.16-.38.36-.38zm.74 1.12c.2 0 .36.17.36.37 0 .21-.16.38-.36.38a.37.37 0 0 1-.37-.38c0-.2.16-.37.37-.37zm-2.2-1.12c.2 0 .36.17.36.38 0 .2-.16.37-.36.37a.37.37 0 0 1-.37-.37c0-.21.16-.38.37-.38zm.73 1.12c.2 0 .37.17.37.37 0 .21-.17.38-.37.38a.37.37 0 0 1-.37-.38c0-.2.17-.37.37-.37z')
						g
							g(opacity='.94', transform='translate(-1214 -1775)')
								use(xlink:href='#42nna')


		+e.row
			+e.item._left
				+e.item-text
					+e.P Формирование инвестиционного портфеля на основе собственной системы инструментов на базе алгоритмов
						span deep learning
				+e.item-icon
					svg(xmlns='http://www.w3.org/2000/svg', width='24', height='22', viewbox='0 0 24 22')
						metadata
							x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39        ')
								rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
									rdf:description(rdf:about='')
						defs
							style.
								.cls-1 {
									fill-rule: evenodd;
								}
						path#Forma_1.cls-1(data-name='Forma 1', d='M962.909,1930.16a0.531,0.531,0,0,0-.545.58v7.52a0.532,0.532,0,0,1-.546.58H942.182a0.531,0.531,0,0,1-.546-0.58v-7.52a0.546,0.546,0,1,0-1.09,0v7.52a1.658,1.658,0,0,0,1.636,1.74h19.636a1.659,1.659,0,0,0,1.637-1.74v-7.52A0.532,0.532,0,0,0,962.909,1930.16Zm-0.545-8.11H941.636a1.664,1.664,0,0,0-1.636,1.74v3.7a1.709,1.709,0,0,0,1.255,1.68l8.563,2.03v1.85a0.531,0.531,0,0,0,.546.58h3.272a0.531,0.531,0,0,0,.546-0.58v-1.85l8.563-2.03a1.709,1.709,0,0,0,1.255-1.68v-3.7A1.664,1.664,0,0,0,962.364,1922.05Zm-9.273,10.42h-2.182v-2.31h2.182v2.31Zm9.818-4.98a0.553,0.553,0,0,1-.436.58l-8.291,1.97v-0.46a0.531,0.531,0,0,0-.546-0.58h-3.272a0.531,0.531,0,0,0-.546.58v0.46l-8.291-1.97a0.553,0.553,0,0,1-.436-0.58v-3.7a0.531,0.531,0,0,1,.545-0.58h20.728a0.531,0.531,0,0,1,.545.58v3.7Zm-8.182-9.49h-5.454a1.658,1.658,0,0,0-1.637,1.74v0.58a0.546,0.546,0,1,0,1.091,0v-0.58a0.531,0.531,0,0,1,.546-0.58h5.454a0.531,0.531,0,0,1,.546.58v0.58a0.546,0.546,0,1,0,1.091,0v-0.58A1.658,1.658,0,0,0,954.727,1918Z', transform='translate(-940 -1918)')