extends ../extend/default

block variables
	-title = 'Institutional investors';

block main

	include ../components/screen

	include ../components/chart

	include ../components/system

	include ../components/support-btn