extends ../extend/default

block variables
	-title = 'Private investors';

block main

	-page = {title: 'Market research'}
	include ../components/page

	-chart = {classMod: '_entry-page'}
	include ../components/chart

	include ../components/result

	include ../components/support-btn

block modals
	include ../components/entry