extends ../extend/default

block variables
	-title = 'Private investors';

block main

	-page = {title: 'Private investors'}
	include ../components/page

	-chart = {classMod: '_entry-page'}
	include ../components/chart

	include ../components/schedule

	include ../components/support-btn

block modals
	include ../components/entry